* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: sans-serif;
}

/* CENTER SCREEN */


/* TEXT */
.intro h1 {
  color: #f4a582;
  font-size: 42px;
  letter-spacing: 3px;
}
.intro {
  opacity: 1;
  transition: opacity 0.8s ease;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro.hide {
  opacity: 0;
}

/* LINE */
.line {
  width: 0;
  height: 2px;
  background: #f4a582;
  margin-top: 20px;
  animation: line 1.5s ease forwards;
}

@keyframes line {
  to {
    width: 220px;
  }
}

/* PAGE ENTER ANIMATION */
.page {
  opacity: 0;
  transform: translateY(40px);
  animation: pageIn 1s ease forwards;
}

@keyframes pageIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}